@charset "utf-8";
/* CSS Document 


/*chamando tag quando coloca nome direto */
header#navbar {
	width: 90%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5%;
	padding: 0px 5%;
	/*	padding:      5% 0% 5% 0%;
	
	padding-top:  0%;
	padding-right:5%;
	padding-bottom:0%;
	padding-left:  0%;
*/	
	font-size: 14px;
	background: #909;
	/*css3*/
	box-shadow: 0px 0px 10px #000;
}
header a {
	color: #fff;
	text-decoration: none;
}
#navbar ul {
	width: auto;
	height: auto;
	position: relative;
	float: right;
}
#navbar ul li {
	display: inline;
	width: auto;
	height: auto;
}
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #c70000;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
